:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
  --progress-color: mediumseagreen;
  --progress-completed-color: green;
  --user-status-off: red;
}

* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

button {
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  padding: 0 15px;
}

button:hover {
  background-color: var(--main-button-border-color);
}

button:active {
  background-color: var(--input-placeholder-color);
}
