.user-info {
    margin-bottom: 20px;
}

.user-title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.user-status {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 20px;
    border-radius: 50%;
    background: var(--user-status-off);
    border: 1px solid var(--main-button-border-color);
}

.user-status.ready {
    background: var(--progress-completed-color);
}

.current-user {
    font-weight: bold;
}

.user-progress {
    width: 100%;
    background-color: var(--main-button-background-color);
    border: 1px solid var(--main-button-border-color);
}

.user-progress-bar {
    width: 50%;
    height: 20px;
    background-color: var(--progress-color);
}

.user-progress-bar.completed {
    width: 100%;
    background-color: var(--progress-completed-color);
}