.room-page {
    display: flex;
    padding: 30px;
}

.room-aside {
    width: 30%;
}

.button-back {
    margin: 30px 0;
    padding: 20px 50px;
}

.room-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-height: 70vh;
    margin: 0 5%;
    border: 2px solid var(--main-button-border-color);
}

.room-counter {
    font-size: 20vh;
}

.button-user-status {
    width: 60%;
    height: 30%;
    font-size: 5vh;
    text-transform: uppercase;
}

.game-text {
    margin: 30px;
}

.game-timer {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.8rem;
    font-style: italic;
}