.card-room {
  display: inline-block;
  min-width: 250px;
  min-height: 230px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid var(--main-button-border-color);
}

.card-users {
  font-size: 0.75rem;
  font-style: italic;
}

.card-title {
  margin: 50px 0;
  text-align: center;
}

.card-btn-join {
  display: block;
  margin: 0 auto;
  padding: 10px 40px;
}
